<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringName" connectionString="Server=(LocalDB)\v11.0;Initial File Name=|DataDirectory|\LocalDB.mdf;Trusted_Connection=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="LocalDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\ziv-user\Documents\בן גוריון\סמסטר ד'\ניתוח ועיצוב\Milestone2\Coupon-Web\DAL\LocalDB.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>